notes.txt
cyences_app_for_splunk/local/**
TA-cyences/local/**

demo/dist/**
demo/RansomwareDemo/**
demo/RansomwareDemo.zip

_site/**
docs/_site/**
docs/.jekyll-cache/**

node_modules
__pycache__/
*.pyc

.DS_store
cyences_app_for_splunk/metadata/local.meta
custom_alert/package-lock.json
product_setup_page/package-lock.json