.dashboard-panel.with-title {
    border: 2px solid #cccccc;
    border-radius: 0.8em;
    background: #37444e !important;
}

.dashboard-element.chart {
    border: 2px solid #cccccc;
    border-radius: 0.8em;
    font-size: 15px;
    background: #37444e !important;
}

.dashboard-panel {
    border: 2px solid #cccccc;
    border-radius: 0.8em;
    font-size: 15px;
    background: #37444e !important;
}

.dashboard-row {
    margin-top: 15px;
}

.dashboard-row .dashboard-panel h2.panel-title {
    font-weight: bold;
    margin-bottom: 4px;
}

/* Intelligence Drilldown Link */
#assetIntelligenceCtxMenu{
    display:none;
    z-index:100;

    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:20px;
    padding:5px;
    margin:0;
    border:1px solid;
    background-color:#171D21;
    font-weight:normal;
    white-space:nowrap;
}

.splunk-view input[type] {
    border: 2px solid #454545 !important;
}

.splunk-view input[type],.dashboard-form-fieldset div[data-inline] {
    background-color: #000;
}

.dashboard-form-globalfieldset input[type] {
    background-color: rgb(92, 103, 115);
    border: none !important;
    border-radius: 5px;
}

