.notable_event_selector {
    padding-top: 0px;
    margin: 0px !important;
}

.table_inline_icon .btn-pill {
    border-radius: 0;
    padding: 0 4px;
    font-size: 15px
}

.bulk_edit_container {
    font-size: 12px;
    /* background-color: #e2e6eb; */
    display: none;
    padding-left: 5px;
    color: #3c444d
}

.bulk_edit_container:after {
    clear: both;
    display: table;
    content: "";
}

.bulk_edit_notable_events {
    padding-top: 0px;
    margin: 0px !important;
}


/* Hidden Columns */
#forensics_notable_events_tbl .notable_event_id,
#forensics_notable_events_tbl [data\-sort\-key='notable_event_id'] {
    display:none;
}



/* Hide Table Headers */
#forensics_notable_events_tbl [data\-sort\-key='notable_event_selector'],
#forensics_notable_events_tbl [data\-sort\-key='notable_event_edit'],
#forensics_notable_events_tbl [data\-sort\-key='notable_event_assignee'],
#forensics_notable_events_tbl [data\-sort\-key='notable_event_quick_assign_to_me']
{
    min-width: 20px !important;
    max-width: 20px !important;
    width: 20px !important;
    padding:0px;
    margin:0px;
}

#forensics_notable_events_tbl [data\-sort\-key='notable_event_selector'] a,
#forensics_notable_events_tbl [data\-sort\-key='notable_event_edit'] a,
#forensics_notable_events_tbl [data\-sort\-key='notable_event_assignee'] a,
#forensics_notable_events_tbl [data\-sort\-key='notable_event_quick_assign_to_me'] a
{
    /* color:transparent !important; */
    display:none;
}
