/* Table element format */
.user_row_selector {
    padding-top: 0px;
    margin: 0px !important;
}

/* Bulk edit options formatter (above table) */
.bulk_edit_container {
    font-size: 15px;
    display: none;
    padding-left: 10px;
    padding-bottom: 5px;
    color: white
}

.bulk_edit_container:after {
    clear: both;
    display: table;
    content: "";
}


/* Hidden Columns */
#user_inventory_main_tbl .uuid,
#user_inventory_main_tbl [data\-sort\-key='uuid'] {
    display: none;
}


/* Hide Table Headers */
#user_inventory_main_tbl [data\-sort\-key='user_row_selector']{
    min-width: 20px !important;
    max-width: 20px !important;
    width: 20px !important;
    padding: 0px;
    margin: 0px;
}

#user_inventory_main_tbl [data\-sort\-key='user_row_selector'] a {
    /* color:transparent !important; */
    display: none;
}