# This is a basic workflow to generate build
name: "On PR - Build and App-Inspect"

# Controls when the action will run. Triggers the workflow on push or pull request
on:
  push:
    branches:
      - 'master'

  pull_request:
    branches:
      - '*'
      - '*/*'
      - '**'

  workflow_dispatch:

jobs:
  pre-release:
    name: "On PR - Build and App-Inspect"
    runs-on: "ubuntu-latest"

    steps:
      - uses: VatsalJagani/splunk-app-action@v3
        with:
          app_dir: "cyences_app_for_splunk"
          to_make_permission_changes: true
          splunkbase_username: ${{ secrets.SPLUNKBASE_USERNAME }}
          splunkbase_password: ${{ secrets.SPLUNKBASE_PASSWORD }}

      - uses: VatsalJagani/splunk-app-action@v3
        with:
          app_dir: "TA-cyences"
          to_make_permission_changes: true
          splunkbase_username: ${{ secrets.SPLUNKBASE_USERNAME }}
          splunkbase_password: ${{ secrets.SPLUNKBASE_PASSWORD }}
